:root { 
--gray_600:#808080; 
--gray_601:#818181; 
--gray_700:#5b5b5b; 
--bluegray_50:#ebecf1; 
--black_900:#000000; 
--teal_800:#0d8346; 
--black_900_0f:#0000000f; 
--light_green_200:#b6e2a1; 
--white_A700:#ffffff; 
--blue_50:#e8f1ff; 
--black_900_1e:#0000001e; 
}