.services_lg_coat {
    font-size: 4rem;
    font-weight: 650 !important;
    text-align: center;
}


.services {
    padding: 1rem 2rem;
}

.containerBackground {
    background-color: #B6E2A1;
    padding: 3rem 0;
}