.vision_photo {
    width: 85%;
    border: 0.5rem solid rgba(0, 128, 0, 0.596);
    border-radius: 0rem 4rem;


}

.vision_lg_coat {
    font-size: 2.7rem;
    font-weight: 650 !important;
    text-align: left;
}